.titulo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.certificados {
  display: flex;
  justify-content: flex-start;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-right: 20px;
}

img {
  width: 250px;
}

.nomes {
  padding-top: 5px;
  font-weight: bold;
}

.headerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 50px;
}

/* Certificados.module.css */
.inputGroup {
  display: flex;
  align-items: center; /* Centraliza verticalmente todos os elementos no grupo */
}

.inputGroup input {
  margin-left: 10px;
  margin-right: 10px;
}

.inputGroup h5 {
  margin: 0; /* Remove margens extras do <h5> */
}

