.textoArea {
    background-color: #f8f9fa;
    overflow: hidden; 
    resize:none;
    width: 40rem;
    border: none;
  }
  
  .textoArea:focus {
    outline: none;
    background-color: #f8f9fa;
  }
  
  .menu {
    padding-left: 20rem;
  }
  
  .buttonRed {
    background-color: var(--red);
    border-radius: 10px;
    color: var(--white);
    border: none;
    padding: 0.5rem;
}

.customPost {
  border: 1px solid; 
  border-radius: 5px; 
  padding: 1rem;
  border-color: #ddd;
  margin-bottom: 2rem;
}

.breakLines {
  font-size: 0.85rem;
  margin-left: 0.5rem;
  margin-bottom: 5px;
}

.customComments {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .textoArea {
    background-color: #f8f9fa;
    overflow: hidden; 
    resize:none;
    width: 20rem;
    border: none;
  }
  
  .menu {
    padding-left: 1rem;
  }
}

.titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.column {
  flex: 1;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}

.taskCard {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.tag {
  display: inline-block;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 5px;
  
}

.yellowTag {
  background-color: #ffcc00;
}

.greenTag {
  background-color: #00cc99;
}

.redTag {
  background-color: #ff6666;
}

.purpleTag {
  background-color: #ae00ae;
}

.main {
  display: flex;
}

.icon {
  height:25px;
  width: 25px;
}