.textoArea {
    background-color: #f8f9fa;
    overflow: hidden; 
    resize:none;
    width: 40rem;
    border: none;
  }
  
  .textoArea:focus {
    outline: none;
    background-color: #f8f9fa;
  }
  
  .menu {
    padding-left: 20rem;
  }
  
  .buttonRed {
    background-color: var(--red);
    border-radius: 10px;
    color: var(--white);
    border: none;
    padding: 0.5rem;
}

.customPost {
  border: 1px solid; 
  border-radius: 5px; 
  padding: 1rem;
  border-color: #ddd;
  margin-bottom: 2rem;
}

.breakLines {
  font-size: 0.85rem;
  margin-left: 0.5rem;
  margin-bottom: 5px;
}

.customComments {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .textoArea {
    background-color: #f8f9fa;
    overflow: hidden; 
    resize:none;
    width: 20rem;
    border: none;
  }
  
  .menu {
    padding-left: 1rem;
  }
}

.titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
