.logo {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .menuItem span:first-child {
    font-size: 2rem;
  }

  .menuItem span:last-child {
    font-size: 1.2rem;
  }

  .userProfile {
    margin-top: 16rem;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .sideBarLeft {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    height: 100vh;
  }

  @media screen and (max-width: 767px) {
    .userProfile {
      margin-top: 1rem;
    }
    .sideBarLeft {
      justify-content: left;
      margin-left: 3rem;
      
    }
  }

span {
    color: white;
}


.d-flex {
    
}

.align-items-center {
    
}


link{
    
    display: flex;
    align-items: center;
}